

{{#if model.length}}

  <div class="test-list"> 

    {{#each test in model}}
      {{#with test}}
        
      {{#link-to 'test.result' id class="test-row"}}
          <div class="test-id test-cell">
            {{id}}
          </div>
          <div class="test-name test-cell">
            {{title}}
          </div>
          <div class="test-start-date test-cell">
            {{format-date started format='Do MMM YY'}}
          </div>
          <div class="test-start-time test-cell">
            {{format-date started format='HH:mm'}}
          </div>
      {{/link-to}}

      {{/with}}
    {{/each}}
  </div>

{{else}}

  <div class="message is-warning">You have not yet run any tests.</div>
  
  <div class="call-action">Run a new Test</div>

{{/if}}


{{outlet}}

